<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CollegeBasicMapper">

    <select id="selectRandomByBatch" resultType="com.example.entity.CollegeBasic">
        SELECT * FROM college_basic
        WHERE admission_batch = #{admissionBatch}
        ORDER BY RAND()
        LIMIT 3
    </select>

</mapper>
